//fonts
$font-family-gluten: "Gluten", cursive;
$font-weight-gluten: 400;

$font-family-sister: "Love Ya Like A Sister", cursive;
$font-weight-sister: 400;

$font-family-luckiest-guy: "Luckiest Guy", cursive;
$font-weight-luckiest-guy: 400;

//colors

$-color-pale-pink: #ffe6f2;
$-color-soft-pink: #ffcce6;
$-color-claire-pink: #ff99cc;

$-color-true-pink: #ff3399;
$-color-strong-pink: #e60073;
$-color-dark-pink: #b30059;

$-color-wine: #660033;
$-color-burgundy: #33001a;