.header {
    background: linear-gradient(180deg, rgba(255, 230, 242, 1) 0%, rgba(255, 204, 230, 1) 36%, rgba(255, 153, 204, 1) 100%);

    width: 100vw;
    padding: 20px 10px 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @media (min-width: 768px) {
        padding: 20px 10px 10px 30px;
        gap: 10px;
    }

    &__div {
        display: flex;
        width: 100%;
        gap: 20px;

        @media (min-width: 768px) {
            align-items: center;
            gap: 30px;
        }

        @media (min-width: 1022px) {
            padding: 20px 10px 15px 35px;
        }

        img {
            width: 50px;

            @media (min-width: 768px) {
                width: 100px;
            }

            @media (min-width: 1022px) {
                width: 130px;
            }
        }

        h1 {
            font-family: $font-family-gluten;
            font-weight: $font-weight-gluten;
            font-size: 5.2rem;
            color: $-color-true-pink;

            @media (min-width: 768px) {
                font-size: 7rem;
            }

            @media (min-width: 1022px) {
                font-size: 9rem;
            }
        }
    }



    h2 {
        font-family: $font-family-sister;
        font-weight: $font-weight-sister;
        font-size: 1.8rem;
        color: $-color-wine;

        @media (min-width: 768px) {
            font-size: 3rem;
        }

        @media (min-width: 1022px) {
            font-size: 4rem;
        }
    }

    h3 {
        font-family: $font-family-luckiest-guy;
        font-weight: $font-weight-luckiest-guy;
        font-size: 2rem;
        color: $-color-soft-pink;

        @media (min-width: 768px) {
            font-size: 2.8rem;
        }

        @media (min-width: 1022px) {
            font-size: 3.8rem;
        }
    }
}