.fa-bars {
    font-size: 2.5rem;
    color: $-color-wine;

    @media (min-width: 768px) {
        font-size: 3rem;
    }

    @media (min-width: 1022px) {
        font-size: 4rem;
    }
}

.menu {


    &-list {
        list-style: none;

        &-element {

            a {
                text-decoration: none;
                color: $-color-pale-pink;
                font-size: 1.6rem;
            }

        }
    }

}